/*样式初始化*/
@font-face{
font-family:'ng-iconfont';
src:url('./font/iconfont.eot?var=03');
src:url('./font/iconfont.eot?#iefix') 
format('embedded-opentype'),url('./font/iconfont.woff?var=03') 
format('woff'),url('./font/iconfont.ttf?var=03') 
format('truetype'),url('./font/iconfont.svg#uxiconfont?var=03') 
format('svg')
}

.icon {
	display: inline-block;
	font-family: "ng-iconfont"!important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*{
	margin:0;
	padding:0;
	list-style-type:none;
	text-decoration:none;
}
img{
	border:none;
}
.clear{
	clear:both;
}
/*预定义样式*/
.w {
	width:1200px;
	margin:0 auto;
}
body,h1,h2,h3,h4,h5,h6,i,b,span,em{
	font:14px/1.5 微软微黑;
	color:#000;
}
/*header_top样式开始*/
#header .header_top{
	overflow:hidden;
	background:#F5F5F5;
	border:1px solid #ccc;
}
.header_top .top_nav{
	overflow:hidden;
}
.house_img{
	margin-right:3px;
}
.header_top .top_nav .top_nav_left{
	height:35px;
	line-height:35px;
	width:230px;
	float:left;
}
.header_top .top_nav .top_nav_left .house_img{
	color:#666666;
	float:left;
	margin-top:7px;
}
.header_top .top_nav .top_nav_left .line_img{
	float:left;
	margin-top:7px;
	margin-left:10px;
	overflow:hidden;
	width:1px;
	color:#ccc;
}
.header_top .top_nav .top_nav_left .dowm{
	float:left;
	margin-top:10px;
	margin-left:10px;
	overflow:hidden;
	width:20px;
	color:#ccc;
	font-size:12px;
}
.header_top .top_nav .top_nav_left span{
	float:left;
	font-size:13px;
	margin-top:8px;
	color:#000;
}
.header_top .top_nav .top_nav_left  .new{
    display: inline-block;
    width: 16px;
    height: 16px;
    left: 2px;
    position: relative;
    background: url(../img/npbg.png) no-repeat -16px -205px;
	}
.header_top .top_nav .top_nav_left a{
	float:left;
	font-size:13px;
	margin-left:10px;
	color:#000;
}
.toolbar_right{
	height:35px;
	width:700px;
	float:right;
	line-height:35px;
}
.toolbar_right ul li{
	margin-right:20px;
	font-size:13px;
	float:left;
	color:#666666;
}
.toolbar_right .lg_re:hover{
	color:#FFAA00;
	text-decoration:underline;
}
.toolbar_right .lg_re{
	float:left;
	color:#666666;
	margin-right:10px;
	cursor:pointer;
}
.toolbar_right .car{
	margin-right:5px;
	font-size:20px;
}
.toolbar_right .zero{
	display:inline-block;
	position:relative;
	top:-8px;
	left:4px;
	font-size:12px;
	font-weight:bold;
	color:white;
	border-radius:9px;
	height:16px;
	width:16px;
	line-height:16px;
	background:#F7A705;
	text-align:center;
}
/*header_top结束*/
/*header_bottom开始*/
#header .header_bottom{
	overflow:hidden;
}	
.header_bottom .bottom_search{
	overflow:hidden;
}
.header_bottom .bottom_search_left{
	height:110px;
	float:left;
}
.header_bottom  .bottom_search_right{
	width:800px;
	height:110px;
	float:right;
}
.bottom_search_right .search_box{
	height:40px;
	margin-top:25px;
	width:568px;
	border:2px solid #FFAA00;
	float:left;
}
.bottom_search_right .boost_img{
	margin-left:3px;
	float:left;
	font-size:15px;
	line-height:40px;
	height:40px;
}
.bottom_search_right .text{
	border:0; 
	outline:none;
	width:470px;
	height:40px;
	float:left;
}
.bottom_search_right .sub{
	border:0;
	font-weight:bold;
	font-size:15px;
	color:white;
	background:#FFAA00;
	width:80px;
	height:40px;
	float:left;
}
.bottom_search_right ul {
	margin-top:10px;
}
.bottom_search_right ul li a{
	color:#999999;
	padding-left:10px;
	font-size:13px;
	float:left;
}
/*header_bottom结束*/
/*头部样式结束*/
/*主体样式开始*/
#main{
	width:1263px;
	overflow:hidden;
}
/*NAV样式开始*/
#main .nav{
	border-bottom:2px solid black;
}
#main .main_nav{
	overflow:hidden;
}
.main_nav_left{	
	margin-top:10px;
	background:black;
	width:200px;
	height:30px;
	line-height:30px;
	float:left;
}
.main_nav_left .arrow_img{
	color:white;
	font-weight:bold;
	font-size:18px;
	margin-left:30px;
}
.main_nav_left a{
	font-weight:bold;
	padding:15px;
	color:white;
	font-size:15px;
	
}
.main_nav ul{
	float:left;
	margin-top:10px;
	line-height:30px;
	height:30px;
}
.main_nav ul li{
	margin-left:20px;
	float:left;
}
.main_nav ul li a{
	font-size:15px;
	color:#444444;
	float:left;
}
/*NAV样式结束*/
/*bread样式开始*/
#main .breadnav{
	overflow:hidden;
}
#main .text_breadnav{
	line-height:45px;
	height:45px;
}
.breadnav ul{
	overflow:hidden;
}
.breadnav li{
	float:left;
}
.breadnav li a{
	color:#666666;
	padding-left:10px;
	font-size:13px;
}
/*bread样式结束*/
/*goods_details 样式开始*/
.goods_details{
	width:1263px;
	overflow:hidden;
}
.phone_details{
	overflow:hidden;
	border:1px solid #ccc;
}
.phone_details .details_img{
	width:401px;
	overflow:hidden;
	float:left;
}
.phone_details .big_img{
	width:360px;
	height:360px;
	padding:20px;
}
.phone_details .big_img img{
	width:360px;
	height:360px;
	display:block;
}
.phone_details .small_img{
	height:70px;
	width:400px;
	border-bottom:1px solid #ccc;
	position:relative;
}
.phone_details .small_img .left_arrow{
	position:absolute;
	top:20px;
	left:20px;
	display:block;
	width:12px;
	height:20px;
	background:url(../goodsimg/icons-2.png) no-repeat -17px 0;
}
.phone_details .small_img .mid_goods{
	width:330px;
	height:62px;
	line-height:62px;
	margin:0 auto;
}
.phone_details .small_img .mid_goods li{
	float:left;
	margin-left:4px;
}
.phone_details .small_img .mid_goods a{
	display:block;
	width:60px;
	height:60px;
	cursor:pointer;
	border:1px solid #ccc;
}
.phone_details .small_img .mid_goods a:hover {
	border:1px solid #F70;
}
.phone_details .small_img .right_arrow{
	position:absolute;
	top:20px;
	left:375px;
	display:block;
	width:12px;
	height:20px;
	background:url(../goodsimg/icons-2.png) no-repeat -39px 0;
}
.phone_details  .number{
	margin-top:10px;
	color:#999999;
}
.phone_details .goodsnum{
	margin-left:20px;
}
.phone_details  .number .show{
	margin-left:125px;
}
.phone_details  .number i{
	font-size:12px;
	color:#999999;
}
.phone_details  .number  em{
	font-size:12px;
	color:#999999;
}
.phone_details  .number .share_icon1{
	width:16px;
	height:16px;
	display:inline-block;
	position:relative;
	top:2;
	left:0;
	background:url(../goodsimg/icons-2.png) no-repeat 0 -455px;
}
.phone_details  .number .share_icon2{
	width:16px;
	height:16px;
	position:relative;
	top:2;
	left:0;
	display:inline-block;
	background:url(../goodsimg/icons-2.png) no-repeat -16px -455px;
}
.phone_details  .number .share_icon3{
	width:16px;
	height:16px;
	position:relative;
	top:2;
	left:0;
	display:inline-block;
	background:url(../goodsimg/icons-2.png) no-repeat -32px -455px;
}
.phone_details .details_info{
	width:798px;
	border-left:1px solid #ccc;
	overflow:hidden;
	float:left;
}
.phone_details .details_info .name{
	padding-left:18px;
	font-weight:bold;
	font-size:20px;
	color:#000;
}
.phone_details .details_info .phone_status{
	padding-left:20px;
	font-size:14px;
	color:#FF6600;
}
.phone_details .details_info .buy_detals{
	width:799px;
	overflow:hidden;
}
 .detals_main{
	width:599px;
	height:741px;
	float:left;
	box-shadow:5px -2px 4px #F3F3F3;
}
 .detals_main .price{
	height:125px;
	position:relative;
	background:url(../goodsimg/repeat.png) repeat-x 0 0;
}
 .detals_main .price .price-sn{
	float:left;
	width:588px;
	height:21px;
	line-height:21px;
	margin-top:15px;
	overflow:hidden;
}
 .detals_main .price .price-sn dt{
	font-size:12px;
	height:24px;
	line-height:24px;
	margin-left:20px;
	color:#fff;
	float:left;
}
 .detals_main .price .price-sn dd {
	color:#fff;
	float:left;
	margin-top:1px;
	margin-left:10px;

}
 .detals_main .price .price-sn dd i{
	font-size:14px;
	font-weight:bold;
	font-family: Tahoma;
	color:#fff;

}
 .detals_main .price .price-sn dd  em{
	font-size:14px;
	font-family: Tahoma;
	font-weight:bold;
	color:#fff;

} 
.detals_main .price .price-promo{
	float:left;
	width:588px;
	height:30px;
	line-height:21px;
	overflow:hidden;
}
 .detals_main .price .price-promo dt{
	font-size:12px;
	height:24px;
	margin-top:10px;
	margin-left:20px;
	line-height:24px;
	color:#fff;
	float:left;
}
.detals_main .price .price-promo dd {
	color:#fff;
	float:left;
	margin-left:10px;

}
 .detals_main .price .price-promo dd i{
	font-size:14px;
	font-weight:bold;
	font-family: Tahoma;
	color:#fff;

}
.detals_main .price .price-promo dd  em{
	font-size:25px;
	font-family: Tahoma;
	font-weight:bold;
	color:#fff;

} 
 .detals_main .price .price-start{
	float:left;
	width:588px;
	height:14px;
	margin-top:10px;
	line-height:21px;
	overflow:hidden;
}
.detals_main .price .price-start .start{
	float:left;
	margin-left:70px;
	width: 78px;
    height: 14px;
    background: url(../goodsimg/icons-24.png) no-repeat -50px -15px;
}
 .detals_main .price .price-start .start em{
	width:70%;
	float:left;
    height: 14px;
    background: url(../goodsimg/icons-24.png) no-repeat -50px 0;
}
.detals_main .price .price-start dd{
	line-height:14px;
	margin-left:10px;
	height:14px;
}
 .detals_main .price .price-start dd span{
	float:left;
	margin-left:10px;
	height:14px;
	color:white;
	line-height:14px;
	font-size:12px;
}
 .detals_main .price .price-start a{
	font-size:12px;
	float:left;
	margin-left:10px;
	text-decoration:underline;
	color:white;
	height:14px;
}
.detals_main .price .erwei{
	width:98px;
	height:108px;
	position:absolute;
	top:10px;
	right:20px;
}
 .detals_main .price .erwei p{
	font-size:12px;
	color:white;
}
 .detals_main .cuxiao{
	font-size:12px;	
	height:38px;
	background:#F5F5F5;
	line-height:38px;
}
 .cuxiao p{
	color:#999999;
	float:left;
	margin-left:20px;
}
 .cuxiao ul {
	margin-left:20px;
	float:left;
	overflow:hidden;
}
 .cuxiao ul  li{
	margin-right:20px;
	float:left;
}
  .cuxiao ul .zuan{
	padding:2px 20px;
	color:white;
	background:#FF9900;
}
  .cuxiao ul .fanhui{
	color:#FF4800;
}
  .cuxiao ul .huang{
	color:#2272C8;
}

 .detals_main .deliver{
	height:32px;
	line-height:32px;
	margin-top:12px;
}
 .detals_main .deliver dl {
	font-size:12px;
	overflow:hidden;
 }
 .detals_main .deliver dl dt{
	font-size:12px;
	float:left;
	margin-top:7px;
	margin-left:20px;
}
 .detals_main .deliver dl dt span{
	color:#999999;
	word-spacing:20px;
	font-size:12px;
}
 .detals_main .deliver dl dd{
	
	float:left;
}
 .detals_main .deliver dl .address{
	margin-top:4px;
	margin-left:17px;
	padding:2px 15px;
	border:1px solid #ccc;
	float:left;
}
 .detals_main .deliver dl .address span{
	color:#999999;
	font-size:12px;
}
 .detals_main .deliver dl .status{
	color:#666666;
	margin-left:10px;
	float:left;
 }
 .detals_main .deliver dl .status span{
	margin-left:10px;
	font-size:12px;
 }
.detals_main .o2o{
	height:40px;
	line-height:40px;
	position:relative;
  }
.detals_main .o2o dt{
	font-size:12px;
	color:#999999;
	float:left;
	margin-left:20px;
  }
.detals_main .o2o dd{
	float:left;
	height:40px;
	margin-left:50px;
}
.detals_main .o2o dd a{
	font-size:12px;
} 
.detals_main .o2o dd span{
	color:#999;
	font-size:12px;
} 
.detals_main .o2o .icon{
	position:absolute;
	top: 8px;
    left: 85px;
	height:22px;
	width:22px;
	display:inline-block;
	background:url(../goodsimg/icons-2.png) no-repeat -75px -330px;
}
.detals_main .serve{
	height:25px;
	position:relative;
  }
.detals_main .serve dt{
	font-size:12px;
	word-spacing:20px;
	color:#999999;
	float:left;
	margin-left:20px;
  }
.detals_main .serve dd{
	float:left;
	margin-left:17px;
}
.detals_main .serve dd a{
	float:left;
	font-size:12px;
} 
.detals_main .serve dd .online{
	margin-left:30px;
}
.detals_main .serve dd span{
	color:#999;
	font-size:12px;
} 
.detals_main .proinfo_ser{
	padding-left:87px;
	height:22px;
	line-height:22px;
}
.detals_main .proinfo_ser .rxf i{
	position: absolute;
	display:block;
    top: -1px;
    left: 0;
    width: 14px;
    height: 14px;
    background: url(../goodsimg/icons-2.png) no-repeat -185px 0;
}
.detals_main .proinfo_ser .fq  i{
    background: url(../goodsimg/icons-2.png) no-repeat 0 -170px;
}
.detals_main .proinfo_ser .myf  i{
    background: url(../goodsimg/icons-2.png) no-repeat -23px -170px;
}
.detals_main .proinfo_ser .zt  i{
    background: url(../goodsimg/icons-2.png) no-repeat --130px -170px;
}
.detals_main .proinfo_ser .th  i{
    background: url(../goodsimg/icons-2.png) no-repeat --46px -170px;
}
.detals_main .proinfo_ser .rxf {
	margin-right:15px;
	position:relative;
	padding-left:20px;
	font-size:12px;
}
.detals_main .color{
	height:40px;
	line-height:40px;
	margin-top:10px;
	position:relative;
  }
.detals_main .color dt{
	font-size:12px;
	word-spacing:20px;
	color:#999999;
	float:left;
	margin-left:20px;
  }
.detals_main .color dd{
	float:left;
	margin-left:17px;
}
.detals_main .color dd a{
	float:left;
	font-size:12px;
} 
.detals_main .color dd .online{
	border:1px solid #ccc;
	margin-right:5px;
	cursor:pointer;
}
.detals_main .color dd .online:hover {
	border:1px solid #FF9900;
	margin-right:5px;
}
.detals_main .color dd span{
	color:#999;
	font-size:12px;
} 
.detals_main .color dd .online img{
	width:36px;
	height:36px;
}
.detals_main .way{
	height:40px;
	line-height:40px;
	margin-top:10px;
	position:relative;
  }
.detals_main .way dt{
	font-size:12px;
	word-spacing:20px;
	color:#999999;
	float:left;
	margin-left:20px;
  }
.detals_main .way dd{
	float:left;
	margin-left:17px;
}
.detals_main .way dd .way1{
	width:42px;
	height:30px;
	line-height:30px;
	text-align:center;
	border:1px solid #ccc;
	margin-top:5px;
	float:left;
	font-size:12px;
	}
.detals_main .way dd .way2{
	width:78px;
	height:30px;
	line-height:30px;
	text-align:center;
	border:1px solid #ccc;
	margin-left:10px;
	margin-top:5px;
	float:left;
	font-size:12px;
}
.detals_main .num{
	height:40px;
	line-height:40px;
	margin-top:10px;
	position:relative;
  }
.detals_main .num dt{
	font-size:12px;
	word-spacing:20px;
	color:#999999;
	float:left;
	margin-left:20px;
  }
.detals_main .num dd{
	float:left;
	margin-left:17px;
}
.detals_main .num dd .minus{
	width:22px;
	height:30px;
	margin-top:5px;
	float:left;
	cursor: pointer;
	font-size:12px;
	background:url(../goodsimg/icons-2.png) no-repeat -110px 0;
	}
.detals_main .num dd .count{
	width:30px;
	height:30px;
	margin:5px 5px;
	float:left;
	font-size:12px;
}
.detals_main .num dd .count input{
	width:30px;
	height:30px;
	text-align:center;
}
.detals_main .num dd .plus{
	width:22px;
	height:30px;
	margin-top:5px;
	float:left;
	cursor: pointer;
	font-size:12px;
	background:url(../goodsimg/icons-2.png) no-repeat -85px -35px;
}
.detals_main .yanbao{
	height:40px;
	line-height:40px;
	margin-top:10px;
	position:relative;
  }
.detals_main .yanbao .icon1{
	display:inline-block;
	margin-top:7px;
	float:left;
	margin-left:10px;
	height:15px;
	width:15px;
	background:url(../goodsimg/icons-2.png) no-repeat 0 -115px;;
}
.detals_main .yanbao dt{
	font-size:12px;
	word-spacing:20px;
	color:#999999;
	float:left;
	margin-left:20px;
  }
.detals_main .yanbao dd{
	float:left;
	margin-left:17px;
}
.detals_main .yanbao dd .yan{
	width:123px;
	height:30px;
	line-height:30px;
	text-align:center;
	border:1px solid #ccc;
	margin-top:5px;
	float:left;
	font-size:12px;
}
.detals_main .line{
	height:2px;
	width:547px;
	margin:10px auto 0;
	background:#ccc;
}
.detals_main .dowm{
	float:left;
	color:#BBBBBB;
	border:1px solid #CCCCCC;
	padding:10px 20px;
	margin-top:20px;
	margin-left:30px;
	border-radius:2px;
	background:#EEEEEE;
}
.detals_main .btns{
	height:50px;
	position:relative;
	margin-top:10px;
}
.detals_main .btns .btns_buy{
	position:absolute;
	background:url(../goodsimg/btns-2.png) no-repeat -94px -45px;
	left:81px;
	top:0;
	width:115px;
	height:40px;
	border: none;
	cursor: pointer;
}
.detals_main .btns .btns_addcar{
	position:absolute;
	background:url(../goodsimg/btns-2.png) no-repeat -219px -45px;
	left:205px;
	top:0;
	border:none;
	cursor: pointer;
	width:135px;
	height:40px;
}
.detals_main .btns .btns_collect{
	position:absolute;
	background:url(../goodsimg/btns-2.png) no-repeat;
	left:350px;
	top:0;
	display:none;
	border:none;
	cursor: pointer;
	width:75px;
	height:40px;
}
.details_info .buy_detals .seller{
	width:199px;
	height:571px;
	float:left;
}
.seller .sell_self{
	width:199px;
	height:221px;
}
.seller .sell_self .flag{
	height:60px;
	width:199px;
}
.seller .sell_self h1{
	position:relative;
	padding-left:15px;
	height:23px;
	width:184px;
}
.seller .sell_self h1 span{
	font-size:12px;
	color:#666666;
	font-weight:bold;
}
.seller .sell_self h1 a{
	font-size:12px;
	color:#666666;
	font-weight:normal;
}
.seller .sell_self h1 .ie{
	display:inline-block;
	position:absolute;
	top:2px;
	left:110px;
	height:16px;
	width:16px;
	background:url(../goodsimg/icons-2.png) no-repeat -185px -40px;;
}
.seller .sell_self .flag{
	height:60px;
	width:199px;
}
.seller .sell_self .compare{
	width:199px;
	height:138px;
}
.seller .sell_self .assess_list{
	width:169px;
	height:100px;
	margin:0 auto;
	background:#fff;
}
.assess_list dt i{
	color:#999999;
	font-size:12px;
}
.assess_list dt span{
	margin-left:37px;
	color:#999999;
	font-size:12px;
}
.assess_list dd {
	position:relative;
}
.assess_list dd span{
	color:#999;
	font-size:12px;
}
.assess_list dd span i{
	color:#999;
	font-size:12px;
}
.assess_list dd span .icon{
	display:inline-block;
	width:12px;
	height:12px;
	position:absolute;
	top:5px;
	right:40;
	background:url(../goodsimg/icons-2.png) no-repeat -215px -15px;
}
.assess_list dd span b{
	font-size:12px;
	color:#666666;
	margin-left:25px;
}
.assess_list dd span em{
	color:#FF6600;
	font-weight:bold;
	font-size:12px;
}
.compare .buttom{
	width:169px;
	height:24px;
	margin:0 auto;
}
.compare .buttom a{
	display:block;
	background:url(../goodsimg/icons-2.png) no-repeat -164px -302px;
	margin:5 auto;
	width:72px;
	font-size:12px;
	color:white;
	line-height:24px;
	height:24px;
	text-align:center;
}
.compare .buttom a span{
	color:white;
	font-size:12px;
}
.seller .more_seller{
	width:199px;
	height:320px;
}
.more_seller h3{
	margin:0 auto;
	width:199px;
	height:35px;
	line-height:35px;
	background:#F5F5F5 url(../goodsimg/repeat.png) no-repeat 0 -340px;
}
.more_seller h3 i{
	margin-left:10px;
	font-size:12px;
}
.more_seller h3 span a{
	margin-left:100px;
	font-size:12px;
	color:#2272C8;
	text-decoration:underline;
}
.seller .more_seller .cslbox{
	height:284px;
}
.seller .more_seller .cslbox li{
	height:57px;
	border-bottom:1px solid #EEEEEE;
}
.seller .more_seller .cslbox .title{
	float:left;
	width:199px;
	margin-top:10px;
    font-family: Arial;
	padding-left:10px;
	margin-bottom:5px;
	font-size:12px;
	color:#666666;
}
.seller .more_seller .cslbox .price{
	float:left;
	width:199px;
    font-family: Arial;
	font-size:12px;
	color:#666666;
}
.seller .more_seller .cslbox  .price b{
	margin-left:10px;
	font-size:12px;
	color:#DD0000;
}
.seller .more_seller .cslbox  .price i{
    font-family: Arial;
	font-size:12px;
	color:#DD0000;
}
.seller .more_seller .cslbox  .price em{
	margin-left:92px;
	font-family: Arial;
	font-size:12px;
	color:#666666;
}
/*goods_details 样式结束*/
/*评论样式开始*/
.comment{
	width:1263px;
	overflow:hidden;
	margin-bottom:20px;
}
.com_left{
	float:left;

}
.c_content{
	overflow:hidden;
	margin:10 auto;
}
.left_bottom_all{
	width:188px;
}
.left_bottom_all .phone_title{
	height:35px;
	border:1px solid #ccc;
	border-bottom:none;
	font-size:20px;
	line-height:35px;
}
.left_bottom_all .phone_title a{
	font-weight:bold;
	color:#000;
	padding-left:10px;
}
.left_bottom_all .phone_info{
	border:1px solid #ccc;
}

.left_bottom_all .phone_info li{
	width:168px;	
	margin:0 auto;
	margin-top:10px;
}
.left_bottom_all .phone_info li img{
	display:block;
	margin:0 auto;
	width:120px;
	height:120px;
}
.left_bottom_all .phone_info a{
	margin-top:10px;
	display:block;
	font-size:12px;
}
.left_bottom_all .phone_info b{
	display:block;
	margin-top:10px;
	margin-bottom:10px;
	font-size:12px;
	color:#DD0000;
	font-weight:bold;
}
.com_right{
	float:right;
	width:988px;
	overflow:hidden;
}
.com_right .title{
	height:38px;
	width:100px;
	line-height:38px;
	text-align:center;
	float:left;
	margin-left:20px;
	border:1px solid #ccc;
	border-top:3px solid #FF9900;
	border-bottom:none;
}
.com_text{
	width:900;
	overflow:hidden;
	margin-left:20px;
	border:1px solid #ccc;
	padding-bottom:10px;
}
.com_text .user{
	width:880px;
	overflow:hidden;
	padding-bottom:20px;
	margin:0 auto;
	margin-top:20px;
	border-bottom:1px solid #ccc;
}
.com_text .user_img{
	float:left;
	width:60px;
	height:60px;
}
.com_text .user_img img{
	width:60px;
	height:60px;
}
.user_content{
	float:right;
	width:800px;
	overflow:hidden;
	border:1px solid #ccc;
}
.user_content .username{
	font-size:12px;
	height:30px;
	width:150px;
	float:left;
	margin-left:10px;
	border-bottom:1px solid #ccc;
	line-height:30px;
}
.user_content .time{
	float:right;
	height:30px;
	border-bottom:1px solid #ccc;
	color:#999;
	margin-right:20px;
	line-height:30px;
}
.user_content .content{
	padding:10px;
	color:#999;
	font-size:12px;

}
.com_right .com_text .page{
	text-align:right;
	height:30px;
	line-height:30px;
	font-size:12px;
	padding-right:10px;
}
/*评论样式结束*/
/*主体样式结束*/
/*底部样式开始*/
#footer{
	width:1263px;
	overflow:hidden;
	background:#F5F5F5;
}
#footer .footer_top{
	
	margin:0 auto;
	overflow:hidden;
}
#footer .footer_middle{
	margin:0 auto;
	height:150px;
}
#footer .footer_bottom{
	margin:0 auto;
	height:115px;
}
.foot_top_title dl{
	float:left;
	margin-top:20px;
	margin-bottom:10px;
	margin-right:89px;
}
.foot_top_title dt{
	float:left;
	height:48px;
	width:48px;
}
.foot_top_title .dt1{
	background:url(../img/npbg.png) no-repeat 0 0;
}
.foot_top_title .dt2{
	background:url(../img/npbg.png) no-repeat -48px 0;
}
.foot_top_title .dt3{
	background:url(../img/npbg.png) no-repeat -96px 0;
}
.foot_top_title .dt4{
	background:url(../img/npbg.png) no-repeat -144px 0;
}
.foot_top_title .dt5{
	background:url(../img/npbg.png) no-repeat -191px 0;
}
.foot_top_title dd{
	float:left;
	margin-top:4px;
	margin-left:10px;
}
.foot_top_title .p1{
	font-size:16px;
	font-weight:bold;
}
.foot_top_title .p2{
	font-size:10px;
	margin-top:10px;
	color:#666;
}
.foot_top_title{
	overflow:hidden;
	border-bottom:1px solid #ccc;
}
.foot_top_content{
	overflow:hidden;

}
.foot_top_title dt{
	float:left;
	height:48px;
	width:48px;
}
.foot_top_content dl{
	float:left;
	margin-top:20px;
	margin-bottom:10px;
	margin-right:128px;
}
.foot_top_content dt{
	font-size:15px;
	color:black;
	font-weight:bold;
}
.foot_top_content dd{
	font-size:12px;
	margin-top:10px;
}
.footer_middle{
	background:#33302B;
}
.middle_content{
	overflow:hidden;
}
.middle_content dl{
	margin:0 auto;
	width:360px;
	float:left;
	margin-top:20px;
	margin-bottom:10px;
	margin-left:50px;
}
.middle_content dd{
	margin-left:10px;
	width:200px;
	float:left;
}
.middle_content dt{
	float:left;
}
.middle_content .p1{
	font-weight:bold;
	font-size:15px;
	color:#EEEEEE;
	line-height:1.7em;

}
.middle_content .p2{
	font-size:12px;
	color:white;
	line-height:1.6em;

}
.middle_content .p3{
	width:105px;
	height:25px;
	background:url(../img/npbg.png) -140px -49px no-repeat;
}
.middle_content .dt1{
	width:80px;
	height:80px;
	background:url(../img/f1.png) no-repeat;
	
}
.middle_content .dt2{
	width:80px;
	height:80px;
	background:url(../img/f2.png) no-repeat;
	
}
.middle_content .dt3{
	width:80px;
	height:80px;
	background:url(../img/npbg.png) no-repeat -44px -54px;
	
}
.footer_bottom{
	background:#33302B;

}
.footer_bottom p {
	margin-left:55px;
	color:white;
	font-size:13px;
	line-height:1.6em;
}
.footer_bottom  a{
	color:white;
	font-size:13px;
	line-height:1.7em;
}
.foot_img{
	margin-top:10px;
	width:500px;
	margin-left:55px;
	overflow:hidden;
}
.footer_bottom span {
	margin-left:55px;
	color:#999999;
	font-size:12px;
	line-height:1.6em;
}
.foot_img a{
	margin-right:15px;
}
/*底部样式结束*/
