/*样式初始化*/
@font-face{
font-family:'ng-iconfont';
src:url('./font/iconfont.eot?var=03');
src:url('./font/iconfont.eot?#iefix') 
format('embedded-opentype'),url('./font/iconfont.woff?var=03') 
format('woff'),url('./font/iconfont.ttf?var=03') 
format('truetype'),url('./font/iconfont.svg#uxiconfont?var=03') 
format('svg')
}

.icon {
	display: inline-block;
	font-family: "ng-iconfont"!important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*{
	margin:0;
	padding:0;
	list-style-type:none;
	text-decoration:none;
}
img{
	border:none;
}
body{
	background: #F5F5F5;
}
.clear{
	clear:both;
}
/*预定义样式*/
.w {
	width:1200px;
	margin:0 auto;
}
body,h1,h2,h3,h4,h5,h6,i,b,span,em{
	font:14px/1.5 微软微黑;
	color:#000;
}
/*header_top样式开始*/
#header{
	width: 1263px;

}
#header .header_top{
	overflow:hidden;
	background:#F5F5F5;
	border:1px solid #ccc;
}
.header_top .top_nav{
	overflow:hidden;
}
.house_img{
	margin-right:3px;
}
.header_top .top_nav .top_nav_left{
	height:35px;
	line-height:35px;
	width:230px;
	float:left;
}
.header_top .top_nav .top_nav_left .house_img{
	color:#666666;
	float:left;
	margin-top:7px;
}
.header_top .top_nav .top_nav_left .line_img{
	float:left;
	margin-top:7px;
	overflow:hidden;
	width:1px;
	color:#ccc;
}
.header_top .top_nav .top_nav_left .dowm{
	float:left;
	margin-top:10px;
	margin-left:10px;
	overflow:hidden;
	width:20px;
	color:#ccc;
	font-size:12px;
}
.header_top .top_nav .top_nav_left span{
	float:left;
	font-size:13px;
	margin-top:8px;
	color:#000;
}
.header_top .top_nav .top_nav_left  .new{
    display: inline-block;
    width: 16px;
    height: 16px;
    left: 2px;
    position: relative;
    background: url(../img/npbg.png) no-repeat -16px -205px;
	}
.header_top .top_nav .top_nav_left a{
	float:left;
	font-size:13px;
	margin-left:10px;
	color:#000;
}
.toolbar_right{
	height:35px;
	width:700px;
	float:right;
	line-height:35px;
}
.toolbar_right ul li{
	margin-right:20px;
	font-size:13px;
	float:left;
	color:#666666;
}
.toolbar_right .lg_re:hover{
	color:#FFAA00;
	text-decoration:underline;
}
.toolbar_right .lg_re{
	float:left;
	color:#666666;
	margin-right:10px;
	cursor:pointer;
}
.toolbar_right .order{
	color:#666;

}
.toolbar_right .order:hover{
	color:#FF7700;
	text-decoration:underline;
	
}
.toolbar_right .car{
	margin-right:5px;
	font-size:20px;
}
.toolbar_right .zero{
	display:inline-block;
	position:relative;
	top:-8px;
	left:4px;
	font-size:12px;
	font-weight:bold;
	color:white;
	border-radius:9px;
	height:16px;
	width:16px;
	line-height:16px;
	background:#F7A705;
	text-align:center;
}
/*header_top结束*/
/*main start*/
.main_top{
	width: 1263px;
	height: 104;
	position: relative;
}
.top_menu{
	width:1263px;
	height: 60px;
	background:#f70;

}
.top_menu .ms_logo{
	width: 134px;
	height: 28px;
	margin-top: 15px;
	margin-left: 230px;
	float: left;
	background: url(../img/ms-logo.png) no-repeat;

}
.top_menu .ms_nav{
	width: 245px;
	height: 40px;
	margin-left: 20px;
	margin-top: 20px;
	float: left;
}
.top_menu .ms_nav li{
	float: left;
	margin-left: 40px;

}
.top_menu .ms_nav li a{
	color: white;

}
.top_menu .search{
	position:relative;
	overflow: hidden;

}
.top_menu .search input{
	width: 242px;
	height: 28px;
	outline: none;
	border: none;
	float: left;
	color: white;
	font-size: 10px;
	margin-top: 15px;
	margin-left: 370px;
	background:#ff9d5c;

}
.top_menu .search .seach_icon{
	display: block;
	position: absolute;
	right: 30;
	top: 20;
	width: 18px;
	height: 18px;
	background:url(../img/icon-sreach.png);

}
.user_info{
	height: 44px;
	background: #fff;
}
.user_avatar{
	width: 160px;
	height: 85px;
	position: absolute;
	top: 5px;
	left: 20px;
}
.user_avatar a{
	display: block;
	border: 3px solid white;
	border-radius: 100%;
	overflow: hidden;
	width: 60px;
	margin:0 auto;
	height: 60px;
	cursor: pointer;


}
.user_avatar a img{
	width:60px;
	height:60px;
}
.user_avatar a i{
	display: block;
	font-size: 8px;
	color: #000;
	position: relative;
	width: 60px;
	text-align:center;
	top: -19px;
	color:white;
	height:20px;
	line-height:20px;
	background:#7C5A00;
	opacity: 0.7;


}
.user_avatar span{
	font-size: 12px;
	display: block;
	width: 160px;
	text-align: center;

}
.name_info{
	width: 1070px;
	height: 40px;
	float: right;

}
.name_info a{
	float: left;
	font-size: 12px;
	margin-top: 10px;
	color: #000;
	margin-right: 20px;
}
.user_form{
	height:700px;
}
.form_list{
	width: 187px;
	height: 400px;
	float: left;
	position:relative;
}
.list_in{
	position: absolute;
    top: -10px;
    width: 185px;
    height: 18px;
    background: #FFF;
    border: solid 1px #FFF;
    border-radius: 18px;
    box-shadow: 0 2px 5px #e3e3e3;
    z-index: 10
}
.list_in i{
	display: block;
    margin: 5px 7px;
    height: 8px;
    background: #DDD;
    border: solid 1px #DDD;
    border-radius: 15px;
}
.list_out{
	position: relative;
    overflow: hidden;
    left: 15px;
    width: 160px;
    background: #FFF;
    background-image: url(../img/menu-treeNeck.png);
    background-position: center top;
    background-repeat: repeat-x;
    box-shadow: 0 2px 5px #e3e3e3,-1px 2px 5px #e3e3e3;
    z-index: 12;

}
.list_out dl{
	overflow: hidden;
	display: block;
}
.list_out  dt{
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 10px;
	margin-left: 20px;
}
.list_out  dd{
	margin-bottom: 5px;
	margin-left: 20px;
}
.list_out  dd a{
	color: #000;
	font-size: 12px;
	
}
.list_out  dd a:hover {
	color: #f60;
	font-size: 12px;
	
}
.list_out  dd span{
	font-size: 12px;
	color: #f60;
}
.list_join{
	display: block;
	width: 160px;
	height: 20px;
	position: relative;
	z-index: 14;
	bottom:0;
	background:#f5f5f5;

}
.list_join i{
    display: inline-block;
    height: 0;
    width: 0;
    border: solid 5px #f5f5f5;
    border-bottom-color: #BBB;
    margin-left:75px;
    margin-top: 3px;
}
.form_main{
	width: 1050px;
	height: 670px;
	float: left;
	margin-top: 15px;
	background: #fff;
	border: 1px solid #ccc;
}
.form_main h3{
	height: 38px;
	line-height: 38px;
	background: #fafafa;
}
.form_main strong{
	font-size: 16px;
	float: left;
	margin-left: 10px;
	color: #666666;
}
.form_main span{
	height: 38px;
	line-height: 38px;
	margin-right: 10px;
	float: right;
	font-size: 12px;
	color: #666666;
}
.portait_all{
	width: 968px;
	height: 181px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;

}
.head_portrait{
	width: 968px;
	height: 140px;
	float: left;
	margin:20 auto;
}
.head_portrait .portrait{
	float: left;
	position:relative;
	width: 120px;
	height: 120px;
	border: 5px solid #e3e3e3;
    border-radius: 50%;
    overflow: hidden;
}
.head_portrait .portrait a{
	display: inline-block;
    width: 100px;
    height: 25px;
    line-height: 25px;
    color: white;
    bottom: -2px;
    left: 10px;
    font-size: 12px;
    text-align: center;
    background: #7C5A00;
    filter: alpha(opacity=60);
    opacity: 0.7;
    -moz-opacity: 0.7;
    position: absolute;
    overflow: hidden;
}
.head_portrait .portrait input{
	position:absolute;
	right:0;
	top:0;
	font-size:20px;
	opacity:0;
}
.information{
	float: left;
	width: 199px;
	height: 97px;
	margin-top: 55px;
	margin-left: 25px;
	line-height: 26px;
}
.information .name_info{
	width: 199px;
	height: 26px;
	overflow: hidden;
}
.information h1,.information h2{
	float: left;
}
.information h1{
	color: #666;
	font-size: 12px;
}
.information h1 em{
	font-size: 12px;
	color: #FF0000;
}
.information h2{
	font-size: 12px;
	color: #000;
}
.information .vip_info{
	line-height: 25px;
	width: 205px;
	height: 25px;
}
.information .vip_info a{
	display: block;
	float: left;
	width: 43px;
	height: 25px;
    background: url(../img/icon-nameInfo.png) no-repeat  -54px -66px;;
}
.information .vip_info em{
	font-size: 12px;
	float: left;
	margin-left: 15px;
	margin-top:10px;
}
.information .vip_info i{
	font-size: 12px;
	float: left;
	color: #666;
	margin-top: 8px;
	margin-left: 15px;
}
.information .vip_info b{
	font-weight: bold;;
}
/*form start*/
.form{
	height:376px;
	margin-top:40px;
}
.input_main{
	height:347px;
	margin-top:10px;
}
.input_main .formlist{
	width:938px;
	height:290px;
	margin:0 auto;
}
.list_title{
	height:30px;
	line-height:30px;
	margin-top:5px;
	font-weight:bold;
	border-bottom:1px solid #ccc;
}
.list_main{
	height:300px;
}
.list_main .name{
	height:40px;
	line-height:40px;
}
.list_main .name input{
	height:25px;
	width:200px;
	line-height:25px;
	font-size:12px;
	outline:none;
	border:1px solid #ccc;
	padding-left:5px;
}
.list_main .name label{
	margin-right: 10px;
	height: 13px;
	line-height: 13px;
}
.list_main .name .sex{
	width: 13px;
	height: 13px;
	line-height: 13px;
}
.list_main .sex_box{
	font-size: 12px;
}
.list_main .name a{
	display:inline-block;
	font-size:12px;
	width:142px;
	text-align:right;
}
.list_main .name a i{
	font-size:12px;
	color:red;
}
.list_main .name .check{
	float:left;
	width:13px;
	height:13px;
	margin-top:14px;
	margin-left:140px;
}
.list_main .name em{
	margin-left:10px;
	font-size:12px;
}
.list_main .name .sub{
	width:77px;
	height:30px;
	margin-left:140px;
	font-size:14px;
	color:white;
	border-radius: 3px;
	border:1px solid #EF7700;
	outline:none;
	cursor: pointer;
	background:#FC9300;
}
/*form end*/
/*main end*/
/*footer star*/
#footer{
	overflow: hidden;
	width: 1263px;
}
.login_footer{
	width:100%;
	margin:25px auto;
}
.foot_main{
	margin:0 auto;
	margin-top: 50px;
	width: 990px;
	text-align: center;
}
.foot_main p{
	font-size:13px;
	color:#666666;

}
.foot_main p{
	margin-top: 10px;
}
.foot_main .copyright{
	font-size: 10px;
}
.foot_img{
	height: 25px;
	margin-top:10px;
}
.foot_img a{
	margin: 0 5px;
}
/*footer end*/

