/*样式初始化*/
@font-face{
font-family:'ng-iconfont';
src:url('./font/iconfont.eot?var=03');
src:url('./font/iconfont.eot?#iefix') 
format('embedded-opentype'),url('./font/iconfont.woff?var=03') 
format('woff'),url('./font/iconfont.ttf?var=03') 
format('truetype'),url('./font/iconfont.svg#uxiconfont?var=03') 
format('svg')
}

.icon {
	display: inline-block;
	font-family: "ng-iconfont"!important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*{
	margin:0;
	padding:0;
	list-style-type:none;
	text-decoration:none;
}
img{
	border:none;
}
.clear{
	clear:both;
}
/*预定义样式*/
.w {
	width:1200px;
	margin:0 auto;
}
body,h1,h2,h3,h4,h5,h6,i,b,span,em{
	font:14px/1.5 微软微黑;
	color:#000;
}
/*header_top样式开始*/
#header .header_top{
	overflow:hidden;
	background:#F5F5F5;
	border:1px solid #ccc;
}
.header_top .top_nav{
	overflow:hidden;
}
.house_img{
	margin-right:3px;
}
.header_top .top_nav .top_nav_left{
	height:35px;
	line-height:35px;
	width:230px;
	float:left;
}
.header_top .top_nav .top_nav_left .house_img{
	color:#666666;
	float:left;
	margin-top:7px;
}
.header_top .top_nav .top_nav_left .line_img{
	float:left;
	margin-top:7px;
	margin-left:10px;
	overflow:hidden;
	width:1px;
	color:#ccc;
}
.header_top .top_nav .top_nav_left .dowm{
	float:left;
	margin-top:10px;
	margin-left:10px;
	overflow:hidden;
	width:20px;
	color:#ccc;
	font-size:12px;
}
.header_top .top_nav .top_nav_left span{
	float:left;
	font-size:13px;
	margin-top:8px;
	color:#000;
}
.header_top .top_nav .top_nav_left  .new{
    display: inline-block;
    width: 16px;
    height: 16px;
    left: 2px;
    position: relative;
    background: url(../img/npbg.png) no-repeat -16px -205px;
	}
.header_top .top_nav .top_nav_left a{
	float:left;
	font-size:13px;
	margin-left:10px;
	color:#000;
}
.toolbar_right{
	height:35px;
	width:700px;
	float:right;
	line-height:35px;
}
.toolbar_right ul li{
	margin-right:20px;
	font-size:13px;
	float:left;
	color:#666666;
}
.toolbar_right .lg_re:hover{
	color:#FFAA00;
	text-decoration:underline;
}
.toolbar_right .lg_re{
	float:left;
	color:#666666;
	margin-right:10px;
	cursor:pointer;
}
.toolbar_right .car{
	margin-right:5px;
	font-size:20px;
}
.toolbar_right .zero{
	display:inline-block;
	position:relative;
	top:-8px;
	left:4px;
	font-size:12px;
	font-weight:bold;
	color:white;
	border-radius:9px;
	height:16px;
	width:16px;
	line-height:16px;
	background:#F7A705;
	text-align:center;
}
/*header_top结束*/
/*header_bottom开始*/
#header .header_bottom{
	overflow:hidden;
}	
.header_bottom .bottom_search{
	overflow:hidden;
}
.header_bottom .bottom_search_left{
	height:110px;
	float:left;
}
.header_bottom  .bottom_search_right{
	width:800px;
	height:110px;
	float:right;
}
.bottom_search_right .search_box{
	height:40px;
	margin-top:25px;
	width:568px;
	border:2px solid #FFAA00;
	float:left;
}
.bottom_search_right .boost_img{
	margin-left:3px;
	float:left;
	font-size:15px;
	line-height:40px;
	height:40px;
}
.bottom_search_right .text{
	border:0; 
	outline:none;
	width:470px;
	height:40px;
	float:left;
}
.bottom_search_right .sub{
	border:0;
	font-weight:bold;
	font-size:15px;
	color:white;
	background:#FFAA00;
	width:80px;
	height:40px;
	float:left;
}
.bottom_search_right ul {
	margin-top:10px;
}
.bottom_search_right ul li a{
	color:#999999;
	padding-left:10px;
	font-size:13px;
	float:left;
}
/*header_bottom结束*/
/*头部样式结束*/
/*主体样式开始*/
#main{
	width:1263px;
}
/*NAV样式开始*/
#main .nav{
	border-bottom:2px solid black;
}
#main .main_nav{
	overflow:hidden;
}
.main_nav_left{	
	margin-top:10px;
	background:black;
	width:200px;
	height:30px;
	line-height:30px;
	float:left;
}
.main_nav_left .arrow_img{
	color:white;
	font-weight:bold;
	font-size:18px;
	margin-left:30px;
}
.main_nav_left a{
	font-weight:bold;
	padding:15px;
	color:white;
	font-size:15px;
	
}
.main_nav ul{
	float:left;
	margin-top:10px;
	line-height:30px;
	height:30px;
}
.main_nav ul li{
	margin-left:20px;
	float:left;
}
.main_nav ul li a{
	font-size:15px;
	color:#444444;
	float:left;
}
/*NAV样式结束*/
/*bread样式开始*/
#main .breadnav{
	overflow:hidden;
}
#main .text_breadnav{
	line-height:45px;
	height:45px;
}
.breadnav ul{
	overflow:hidden;
}
.breadnav li{
	float:left;
}
.breadnav li a{
	color:#666666;
	padding-left:10px;
	font-size:13px;
}
/*bread样式结束*/
/*orderdetail 开始*/
.orderdetail{

}
.order_table{
	width: 980px;
	overflow: hidden;
	margin: 10px auto 0;
}
.order_table .title{
	width: 980px;
	height: 30px;
	line-height: 30px;
	background: #F5F5F5;
}
.order_table ul li{
	float: left;
}
.order_table ul .sp{
	margin-left: 20px;
}
.order_table ul .je{
	margin-left: 500px;
}
.order_table ul .zt{
	margin-left: 110px;
}
.order_table ul .cz{
	margin-left: 110px;
}
.order_table ul li h3{
	float: left;
	font-size: 12px;
    height: 30px;
    line-height: 30px;
}
.table_list{
	width: 980px;
	overflow: hidden;
	margin-top: 5px;
}
.table_box{
	width: 980px;
	overflow: hidden;
}
.table_box table{
	width: 980px;
	margin-bottom: 5px;
	border:1px solid #BBBBBB;
}
.table_box table .table_title{
	height: 40px;
}
.table_box table .table_title td i{
    height: 38px;
    margin-left: 15px;
    margin-right: 20px;
    line-height: 38px;
    font-size: 12px;
    color: #666666;
}
.table_box table .table_title td em{
    height: 38px;
    line-height: 38px;
    font-size: 12px;
}
.table_box table .table_title td{
	background: #F5F5F5;
}
.table_box table .table_info{
	height: 112px;
}
.table_box table .table_info .pic{
	border-right: 1px solid #BBBBBB;
	width: 530px;
}
.table_box table .table_info .pic a{
	display: block;
	float: left;
	width: 60px;
	height: 60px;
	margin-left: 10px;
}
.table_box table .table_info .pic img{
	width: 60px;
	height: 60px;
}
.table_box table .table_info .pic h4{
	margin-left: 20px;
	font-size: 12px;
}
.table_box table .table_info .price{
	border-right: 1px solid #BBBBBB;
	width: 148px;
}
.table_box table .table_info .price p{
	width: 148px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 12px;
}
.table_box table .table_info .price .num{
	color: #E11A25;
	font-weight: bold;
	font-family: '微软微黑';
}
.table_box table .table_info .actuality{
	border-right: 1px solid #BBBBBB;
	width: 148px;
}
.table_box table .table_info .actuality p{
	width: 148px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 12px;
}
.table_box table .table_info .touch{
	text-align:center;
	width: 148px;
}
.table_box table .table_info .touch p{
	width: 148px;
	margin-bottom: 5px;
	text-align: center;
	font-size: 12px;
}
.table_box table .table_info .touch p a{
	font-family: tahoma;
	font-size: 12px;
    color: #d00;
}
.table_box table .table_info .touch .button{
	display: block;
	float: left;
	margin-left:35px;
	width: 72px;
	height: 24px;
	border-radius: 5px;
	line-height: 24px;
	background: #f90;
	color: #fff;
}
.finish{
	height:40px;
	line-height:40px;
	font-size:16px;
	margin-bottom:20px;
}
.finish p{
	width:150px;
	height:36px;
	color:white;
	font-size:20px;
	margin-right:110px;
	background:url(../img/buttom.png) no-repeat;
	text-align:center;
	float:right;
}
.finish p a{
	color:white;
}
/*orderdetail 结束*/

/*底部样式开始*/
#footer{
	width:1263px;
	overflow:hidden;
	background:#F5F5F5;
}
#footer .footer_top{
	
	margin:0 auto;
	overflow:hidden;
}
#footer .footer_middle{
	margin:0 auto;
	height:150px;
}
#footer .footer_bottom{
	margin:0 auto;
	height:115px;
}
.foot_top_title dl{
	float:left;
	margin-top:20px;
	margin-bottom:10px;
	margin-right:85px;
}
.foot_top_title dt{
	float:left;
	height:48px;
	width:48px;
}
.foot_top_title .dt1{
	background:url(../img/npbg.png) no-repeat 0 0;
}
.foot_top_title .dt2{
	background:url(../img/npbg.png) no-repeat -48px 0;
}
.foot_top_title .dt3{
	background:url(../img/npbg.png) no-repeat -96px 0;
}
.foot_top_title .dt4{
	background:url(../img/npbg.png) no-repeat -144px 0;
}
.foot_top_title .dt5{
	background:url(../img/npbg.png) no-repeat -191px 0;
}
.foot_top_title dd{
	float:left;
	margin-top:4px;
	margin-left:10px;
}
.foot_top_title .p1{
	font-size:16px;
	font-weight:bold;
}
.foot_top_title .p2{
	font-size:10px;
	margin-top:10px;
	color:#666;
}
.foot_top_title{
	overflow:hidden;
	border-bottom:1px solid #ccc;
}
.foot_top_content{
	overflow:hidden;

}
.foot_top_title dt{
	float:left;
	height:48px;
	width:48px;
}
.foot_top_content dl{
	float:left;
	margin-top:20px;
	margin-bottom:10px;
	margin-right:125px;
}
.foot_top_content dt{
	font-size:15px;
	color:black;
	font-weight:bold;
}
.foot_top_content dd{
	font-size:12px;
	margin-top:10px;
}
.footer_middle{
	background:#33302B;
}
.middle_content{
	overflow:hidden;
}
.middle_content dl{
	margin:0 auto;
	width:360px;
	float:left;
	margin-top:20px;
	margin-bottom:10px;
	margin-left:50px;
}
.middle_content dd{
	margin-left:10px;
	width:200px;
	float:left;
}
.middle_content dt{
	float:left;
}
.middle_content .p1{
	font-weight:bold;
	font-size:15px;
	color:#EEEEEE;
	line-height:1.7em;

}
.middle_content .p2{
	font-size:12px;
	color:white;
	line-height:1.6em;

}
.middle_content .p3{
	width:105px;
	height:25px;
	background:url(../img/npbg.png) -140px -49px no-repeat;
}
.middle_content .dt1{
	width:80px;
	height:80px;
	background:url(../img/f1.png) no-repeat;
	
}
.middle_content .dt2{
	width:80px;
	height:80px;
	background:url(../img/f2.png) no-repeat;
	
}
.middle_content .dt3{
	width:80px;
	height:80px;
	background:url(../img/npbg.png) no-repeat -44px -54px;
	
}
.footer_bottom{
	background:#33302B;

}
.footer_bottom p {
	margin-left:55px;
	color:white;
	font-size:13px;
	line-height:1.6em;
}
.footer_bottom  a{
	color:white;
	font-size:13px;
	line-height:1.7em;
}
.foot_img{
	margin-top:10px;
	width:500px;
	margin-left:55px;
	overflow:hidden;
}
.footer_bottom span {
	margin-left:55px;
	color:#999999;
	font-size:12px;
	line-height:1.6em;
}
.foot_img a{
	margin-right:15px;
}
/*底部样式结束*/